:host {
  align-self: center;
  background-color: rgba(var(--rgb-gray-300), 0.5);
  display: grid;
  grid-template-rows: 1fr auto;
  justify-content: center;
  padding: 0.25rem;
  pointer-events: auto;
  width: 3rem;
}

input[type='range'] {
  accent-color: var(--mat-gray-800);
}

// 👇 https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range

.annotation {
  color: var(--mat-gray-700);
  font-size: 0.75rem;
  text-align: center;
}

.slider {
  width: 10rem;
  height: 3rem;
  margin: 0;
  transform-origin: 5rem 5rem;
  transform: rotate(-90deg);
}
.slider-wrapper {
  width: 3rem;
  height: 10rem;
  padding: 0;
}
