:host {
  align-self: center;
  display: block;
  pointer-events: auto;
}

.attribution {
  align-items: center;
  background-color: rgba(var(--rgb-gray-100), 0.75);
  display: flex;
  height: 3rem;
  opacity: 1;
  padding: 0.5rem;
  pointer-events: auto;
  position: absolute;
  right: 3rem;
  top: 0.25rem;
  transition: opacity 0.25s ease-in-out;
  white-space: nowrap;
  width: auto;
}

.attribution.collapsed {
  opacity: 0;
  pointer-events: none;
}

.control {
  align-items: center;
  display: flex;
  position: relative;
}
