:host {
  display: block;
}

// 👇 watch out -- these styles are a little different because
//    OL yanks .legend out of the dom and into its viewport

.header {
  font-family: 'Carnevalee Freakshow', sans-serif;
  text-align: center;
  white-space: nowrap;

  .title {
    font-size: larger;
  }
}

.legend {
  color: var(--background-color);
  background-color: rgba(var(--rgb-gray-100), 0.75);
  padding: 1rem;
}
