:host {
  display: block;
}

// 👇 suzes are huge because this is designed fior large-format print

.header {
  font-family: 'Carnevalee Freakshow', sans-serif;
  text-align: center;
  white-space: nowrap;

  .title {
    font-size: 16rem;
    font-weight: normal;
  }

  .subtitle {
    font-size: 14rem;
    font-weight: normal;
  }
}

.legend {
  color: var(--background-color);
  background-color: rgba(var(--rgb-gray-100), 0.75);
  left: 20rem;
  padding: 3rem;
  position: absolute;
  top: 20rem;
}
