:host {
  cursor: pointer;
  display: block;
  position: absolute;
}

.icon {
  // 👇 positioning specific to assets/pin.svg
  cursor: pointer;
  height: 2.5rem;
  left: 1.25rem;
  position: relative;
  top: -1.25rem;
  width: 2.5rem;
}
