<ng-container *ngIf="view$ | async as view">
  <app-ol-map #map [view]="view">
    <ng-container *ngIf="map.initialized">
      <app-ol-control-attribution></app-ol-control-attribution>
      <app-ol-control-zoom></app-ol-control-zoom>
      <app-ol-control-zoom2extent></app-ol-control-zoom2extent>

      <!-- BG LAYER -->

      <app-ol-layer-tile>
        <app-ol-source-osm></app-ol-source-osm>
        <app-ol-filter-pencil></app-ol-filter-pencil>
      </app-ol-layer-tile>

      <!-- BASE LAYER PUNCHED OUT BY BOUNDARY -->

      <ng-container *ngIf="map$ | async as map">
        <ng-container [ngSwitch]="map.style">
          <app-ol-layer-tile *ngSwitchCase="'arcgis'">
            <app-ol-source-xyz
              [url]="'https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}'"
              ><app-ol-attribution
                >Powered by Esri</app-ol-attribution
              ></app-ol-source-xyz
            >
            <app-ol-filter-crop></app-ol-filter-crop>
            <!-- <app-ol-filter-enhance [value]="0.33"></app-ol-filter-enhance> -->
          </app-ol-layer-tile>

          <app-ol-layer-tile *ngSwitchCase="'google'">
            <app-ol-source-xyz
              [url]="'http://mt0.google.com/vt/lyrs=m&x={x}&y={y}&z={z}'"
              ><app-ol-attribution
                >© Google</app-ol-attribution
              ></app-ol-source-xyz
            >
            <app-ol-filter-crop></app-ol-filter-crop>
            <!-- <app-ol-filter-enhance [value]="0.33"></app-ol-filter-enhance> -->
          </app-ol-layer-tile>

          <app-ol-layer-mapbox
            *ngSwitchCase="'mapbox'"
            styleUrl="mapbox://styles/mapbox/bright-v9"
          >
            <app-ol-filter-crop></app-ol-filter-crop>
          </app-ol-layer-mapbox>

          <app-ol-layer-tile *ngSwitchCase="'osm'">
            <app-ol-source-osm></app-ol-source-osm>
            <app-ol-filter-crop></app-ol-filter-crop>
            <!-- <app-ol-filter-enhance [value]="0.33"></app-ol-filter-enhance> -->
          </app-ol-layer-tile>
        </ng-container>

        <!-- HILLSHADE LAYER (not needed for arcgis) -->

        <app-ol-layer-tile *ngIf="map.style !== 'arcgis'" [opacity]="0.33">
          <app-ol-source-xyz
            [url]="'https://server.arcgisonline.com/ArcGIS/rest/services/Elevation/World_Hillshade/MapServer/tile/{z}/{y}/{x}'"
          >
            <app-ol-attribution>Powered by Esri</app-ol-attribution>
          </app-ol-source-xyz>
        </app-ol-layer-tile>
      </ng-container>

      <!-- BOUNDARY LAYER -->

      <app-ol-layer-vector [styler]="style.featureOutline()">
        <app-ol-source-boundary></app-ol-source-boundary>
      </app-ol-layer-vector>
    </ng-container>
  </app-ol-map>

  <app-map-setup [view]="view" class="setup"></app-map-setup>
</ng-container>
