<app-ol-map #theMap [path]="path">
  <ng-container *ngIf="theMap.initialized">
    <app-ol-control-scaleline></app-ol-control-scaleline>
    <app-ol-control-zoom></app-ol-control-zoom>
    <app-ol-control-zoom2extent></app-ol-control-zoom2extent>

    <!-- BG LAYER -->

    <app-ol-layer-tile>
      <app-ol-source-osm></app-ol-source-osm>
      <app-ol-filter-pencil></app-ol-filter-pencil>
    </app-ol-layer-tile>

    <!-- BASE LAYER PUNCHED OUT BY BOUNDARY -->

    <ng-container [ngSwitch]="map.style">
      <app-ol-layer-tile *ngSwitchCase="'arcgis'">
        <app-ol-source-xyz
          [url]="'https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}'"
          ><app-ol-attribution
            >Powered by Esri</app-ol-attribution
          ></app-ol-source-xyz
        >
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-tile>

      <app-ol-layer-tile *ngSwitchCase="'google'">
        <app-ol-source-xyz
          [url]="'http://mt0.google.com/vt/lyrs=m&x={x}&y={y}&z={z}'"
          ><app-ol-attribution>© Google</app-ol-attribution></app-ol-source-xyz
        >
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-tile>

      <app-ol-layer-mapbox
        *ngSwitchCase="'mapbox'"
        styleUrl="mapbox://styles/mapbox/bright-v9"
      >
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-mapbox>

      <app-ol-layer-tile *ngSwitchCase="'osm'">
        <app-ol-source-osm></app-ol-source-osm>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-tile>

      <ng-container *ngSwitchCase="'blank'">
        <app-ol-layer-vector>
          <app-ol-style-boundary></app-ol-style-boundary>
          <app-ol-source-boundary></app-ol-source-boundary>
          <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
        </app-ol-layer-vector>
      </ng-container>

      <!-- HILLSHADE LAYER (not needed for arcgis) -->

      <app-ol-layer-tile
        *ngIf="map.style !== 'arcgis'"
        [maxZoom]="17.5"
        [opacity]="0.5"
      >
        <app-ol-source-xyz
          [url]="'https://server.arcgisonline.com/ArcGIS/rest/services/Elevation/World_Hillshade/MapServer/tile/{z}/{y}/{x}'"
        >
          <app-ol-attribution>Powered by Esri</app-ol-attribution>
        </app-ol-source-xyz>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-tile>
    </ng-container>

    <!--VECTOR OVERLAYS FOR "BLANK" -->

    <ng-container *ngIf="map.style === 'blank'">
      <app-ol-layer-vector>
        <app-ol-style-lakes></app-ol-style-lakes>
        <app-ol-source-geojson [layerKey]="'lakes'"></app-ol-source-geojson>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-style-parcels [showBackground]="true"></app-ol-style-parcels>
        <app-ol-source-geojson [layerKey]="'parcels'"></app-ol-source-geojson>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-style-rivers></app-ol-style-rivers>
        <app-ol-source-geojson [layerKey]="'rivers'"></app-ol-source-geojson>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-style-buildings></app-ol-style-buildings>
        <app-ol-source-geojson [layerKey]="'buildings'"></app-ol-source-geojson>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-style-roads></app-ol-style-roads>
        <app-ol-source-geojson [layerKey]="'roads'"></app-ol-source-geojson>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-style-places></app-ol-style-places>
        <app-ol-source-geojson [layerKey]="'places'"></app-ol-source-geojson>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-style-powerlines></app-ol-style-powerlines>
        <app-ol-source-geojson
          [layerKey]="'powerlines'"
        ></app-ol-source-geojson>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-style-parcels [showText]="true"></app-ol-style-parcels>
        <app-ol-source-geojson [layerKey]="'parcels'">
          <app-ol-control-search></app-ol-control-search>
        </app-ol-source-geojson>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-style-parcels [showSelection]="true"></app-ol-style-parcels>
        <app-ol-source-geojson [layerKey]="'parcels'"></app-ol-source-geojson>
        <app-ol-interaction-select
          (select)="onSelectFeature($event)"
          [eventType]="'singleclick'"
        >
        </app-ol-interaction-select>
      </app-ol-layer-vector>
    </ng-container>

    <!-- VECTOR LAYERS FOR OTHER TYPES -->

    <ng-container *ngIf="map.style !== 'blank'">
      <app-ol-layer-vector>
        <app-ol-source-geojson [layerKey]="'parcels'"
          ><app-ol-control-search></app-ol-control-search
        ></app-ol-source-geojson>
        <app-ol-style-parcels
          [showBackground]="true"
          [showText]="true"
        ></app-ol-style-parcels>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-style-buildings></app-ol-style-buildings>
        <app-ol-source-geojson [layerKey]="'buildings'"></app-ol-source-geojson>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-style-parcels [showSelection]="true"></app-ol-style-parcels>
        <app-ol-source-geojson [layerKey]="'parcels'"></app-ol-source-geojson>
        <app-ol-interaction-select
          (select)="onSelectFeature($event)"
          [eventType]="'singleclick'"
        >
        </app-ol-interaction-select>
      </app-ol-layer-vector>
    </ng-container>

    <!-- BOUNDARY LAYER -->

    <app-ol-layer-vector>
      <app-ol-style-polygons></app-ol-style-polygons>
      <app-ol-source-boundary></app-ol-source-boundary>
    </app-ol-layer-vector>
  </ng-container>
</app-ol-map>

<app-town-map-setup [map]="map" class="setup"></app-town-map-setup>
