:host {
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.container {
  height: 100%;
  position: absolute;
  width: 100%;
}

.content {
  height: 100%;
  position: absolute;
  width: 100%;
}

.contextmenu {
  width: 20rem;

  .header {
    font-weight: bold;
    padding: 0.5rem 1rem;
  }

  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .item {
    align-items: center;
    cursor: pointer;
    display: grid;
    grid-column-gap: 0.5rem;
    grid-template-columns: auto 1fr;
    padding: 0.5rem 1rem;
  }
}

.sidebar {
  height: 100%;
}
