<!-- <article (click)="rolledup = !rolledup" class="rolledup">
  <img mat-card-avatar src="assets/favicon.svg" />
</article> -->

<mat-card [class.rolledup]="rolledup" class="card">
  <mat-card-header>
    <img
      (click)="rolledup = !rolledup"
      mat-card-avatar
      src="assets/favicon.svg"
    />

    <mat-card-title>Customize Your Map</mat-card-title>
    <mat-card-subtitle>Lorem ipsum dolor sit amet.</mat-card-subtitle>
    <button
      *ngIf="!rolledup && !townMap.creating"
      (click)="rolledup = !rolledup"
      class="closer"
      mat-icon-button
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <form
      #setupForm="ngForm"
      autocomplete="off"
      class="form"
      novalidate
      spellcheck="false"
    >
      <mat-form-field>
        <mat-label>Give your map a name</mat-label>
        <input
          #name="ngModel"
          [(ngModel)]="map.name"
          matInput
          name="name"
          placeholder="eg: My Old Town"
          required
        />
        <mat-error *ngIf="name.errors">A map name is required </mat-error>
      </mat-form-field>

      <br />

      <mat-label>
        Choose a map style:
        <span *ngIf="registry.descriptor('map', 'style', map.style) as desc"
          ><a [href]="desc.ref" target="_blank">{{ desc.decoding }}</a> {{
          desc.description }}</span
        >
      </mat-label>

      <section class="thumbnails">
        <label
          *ngFor="let item of registry.list('map', 'style')"
          (click)="map.style = item[0]"
          class="thumbnail"
        >
          <img [class.selected]="map.style === item[0]" [src]="item[1].icon" />
          {{ item[1].decoding}}
        </label>
      </section>
    </form>
  </mat-card-content>

  <mat-card-actions class="actions">
    <div *ngIf="townMap.creating"></div>

    <button
      *ngIf="!townMap.creating"
      (click)="delete(map)"
      color="accent"
      mat-flat-button
    >
      DELETE
    </button>

    <button
      (click)="update(map)"
      [disabled]="setupForm.invalid"
      color="primary"
      mat-flat-button
    >
      SAVE
    </button>
  </mat-card-actions>
</mat-card>
