<mat-drawer-container *ngIf="(mapState$ | async) as map" class="container">
  <mat-drawer-content class="content">
    <app-ol-map #theMap [minZoom]="12" [maxZoom]="22" [path]="map.path">
      <app-town-map-setup
        [map]="map"
        class="setup"
        mapControlPanel1
      ></app-town-map-setup>

      <!-- 📦 CONTROLS -->

      <app-ol-control-searchparcels
        mapControlSearch
      ></app-ol-control-searchparcels>

      <app-ol-control-zoom mapControlZoom></app-ol-control-zoom>

      <app-ol-control-print mapControlPrint></app-ol-control-print>

      <app-ol-control-zoom2extent
        mapControlZoomToExtent
      ></app-ol-control-zoom2extent>

      <app-ol-control-attribution
        mapControlAttribution
      ></app-ol-control-attribution>

      <ng-container *ngIf="theMap.initialized">
        <!-- 📦 OL CONTROLS -- WILL BE PRINTED -->

        <app-ol-control-graticule
          ><app-ol-style-graticule></app-ol-style-graticule
        ></app-ol-control-graticule>

        <app-ol-control-scaleline></app-ol-control-scaleline>

        <app-ol-control-credits
          *ngIf="theMap.printing"
        ></app-ol-control-credits>

        <!-- 📦 BG LAYER -->

        <app-ol-layer-tile>
          <app-ol-source-osm></app-ol-source-osm>
          <app-ol-filter-pencil></app-ol-filter-pencil>
        </app-ol-layer-tile>

        <ng-container [ngSwitch]="map.style">
          <!-- 📦 ARCGIS -->

          <app-ol-layer-tile *ngSwitchCase="'arcgis'">
            <app-ol-source-xyz
              [url]="'https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}'"
              ><app-ol-attribution
                >Powered by
                <a href="https://www.esri.com" target="_blank"
                  >Esri</a
                ></app-ol-attribution
              ></app-ol-source-xyz
            >
            <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
          </app-ol-layer-tile>

          <!-- 📦 GOOGLE -->

          <app-ol-layer-tile *ngSwitchCase="'google'">
            <app-ol-source-xyz
              [url]="'http://mt0.google.com/vt/lyrs=m&x={x}&y={y}&z={z}'"
              ><app-ol-attribution
                >©
                <a href="https://www.google.com" target="_blank"
                  >Google</a
                ></app-ol-attribution
              ></app-ol-source-xyz
            >
            <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
          </app-ol-layer-tile>

          <!-- 📦 MAPBOX -->

          <app-ol-layer-mapbox
            *ngSwitchCase="'mapbox'"
            styleUrl="mapbox://styles/mapbox/bright-v9"
          >
            <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
          </app-ol-layer-mapbox>

          <!-- 📦 OSM -->

          <app-ol-layer-tile *ngSwitchCase="'osm'">
            <app-ol-source-osm></app-ol-source-osm>
            <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
          </app-ol-layer-tile>

          <!-- 📦 NH GranIT -->

          <app-ol-layer-vector *ngSwitchCase="'nhgranit'">
            <app-ol-style-boundary></app-ol-style-boundary>
            <app-ol-source-boundary></app-ol-source-boundary>
            <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
          </app-ol-layer-vector>

          <!-- 📦 HILLSHADE LAYER (not needed for ARCGIS) -->

          <app-ol-layer-tile
            *ngIf="map.style !== 'arcgis'"
            [maxZoom]="17"
            [opacity]="1"
          >
            <app-ol-source-xyz
              [url]="'https://server.arcgisonline.com/ArcGIS/rest/services/Elevation/World_Hillshade/MapServer/tile/{z}/{y}/{x}'"
            >
              <app-ol-attribution
                >Powered by
                <a href="https://www.esri.com" target="_blank"
                  >Esri</a
                ></app-ol-attribution
              >
            </app-ol-source-xyz>
            <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
          </app-ol-layer-tile>
        </ng-container>

        <!-- 📦 NH GranIT VECTOR LAYERS -->

        <ng-container *ngIf="map.style === 'nhgranit'">
          <app-ol-layer-vector>
            <app-ol-style-lakes></app-ol-style-lakes>
            <app-ol-source-geojson [layerKey]="'lakes'"></app-ol-source-geojson>
            <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
          </app-ol-layer-vector>

          <app-ol-layer-vector>
            <app-ol-style-parcels
              [showBackground]="true"
            ></app-ol-style-parcels>
            <app-ol-source-parcels></app-ol-source-parcels>
          </app-ol-layer-vector>

          <app-ol-layer-vector>
            <app-ol-style-rivers></app-ol-style-rivers>
            <app-ol-source-geojson
              [layerKey]="'rivers'"
            ></app-ol-source-geojson>
            <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
          </app-ol-layer-vector>

          <app-ol-layer-vector>
            <app-ol-style-roads></app-ol-style-roads>
            <app-ol-source-geojson [layerKey]="'roads'"></app-ol-source-geojson>
            <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
          </app-ol-layer-vector>

          <app-ol-layer-vector>
            <app-ol-style-trails></app-ol-style-trails>
            <app-ol-source-geojson
              [layerKey]="'trails'"
            ></app-ol-source-geojson>
            <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
          </app-ol-layer-vector>

          <app-ol-layer-vector *ngIf="!theMap.printing">
            <app-ol-style-stonewalls></app-ol-style-stonewalls>
            <app-ol-source-stonewalls></app-ol-source-stonewalls>
            <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
          </app-ol-layer-vector>

          <app-ol-layer-vector>
            <app-ol-style-buildings></app-ol-style-buildings>
            <app-ol-source-geojson
              [layerKey]="'buildings'"
            ></app-ol-source-geojson>
            <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
          </app-ol-layer-vector>

          <app-ol-layer-vector>
            <app-ol-style-powerlines></app-ol-style-powerlines>
            <app-ol-source-geojson
              [layerKey]="'powerlines'"
            ></app-ol-source-geojson>
            <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
          </app-ol-layer-vector>

          <app-ol-layer-vector>
            <app-ol-style-parcels [showLabels]="true"></app-ol-style-parcels>
            <app-ol-source-parcels> </app-ol-source-parcels>
          </app-ol-layer-vector>

          <app-ol-layer-vector>
            <app-ol-style-places></app-ol-style-places>
            <app-ol-source-geojson
              [layerKey]="'places'"
            ></app-ol-source-geojson>
            <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
          </app-ol-layer-vector>
        </ng-container>

        <!-- 📦 VECTOR LAYERS FOR OTHER TYPES -->

        <ng-container *ngIf="map.style !== 'nhgranit'">
          <app-ol-layer-vector>
            <app-ol-style-parcels
              [showBackground]="true"
              [showLabels]="true"
            ></app-ol-style-parcels>
            <app-ol-source-parcels></app-ol-source-parcels>
          </app-ol-layer-vector>

          <app-ol-layer-vector *ngIf="!theMap.printing">
            <app-ol-style-stonewalls></app-ol-style-stonewalls>
            <app-ol-source-stonewalls></app-ol-source-stonewalls>
            <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
          </app-ol-layer-vector>

          <app-ol-layer-vector>
            <app-ol-style-buildings></app-ol-style-buildings>
            <app-ol-source-geojson
              [layerKey]="'buildings'"
            ></app-ol-source-geojson>
            <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
          </app-ol-layer-vector>
        </ng-container>

        <!-- 📦 SUPPORTS showSatelliteForSelected NOT printed -->

        <app-ol-layer-tile
          *ngIf="map.options.showSatelliteForSelected && !theMap.printing"
        >
          <app-ol-source-xyz
            [url]="'http://mt0.google.com/vt/lyrs=s&x={x}&y={y}&z={z}'"
            ><app-ol-attribution
              >©
              <a href="https://www.google.com" target="_blank"
                >Google</a
              ></app-ol-attribution
            ></app-ol-source-xyz
          >
          <app-ol-filter-crop2selected></app-ol-filter-crop2selected>
        </app-ol-layer-tile>

        <!-- 📦 SELECTION LAYER -- NOT printed-->

        <app-ol-layer-vector *ngIf="!theMap.printing">
          <app-ol-style-parcels
            [showDimensions]="true"
            [showLabels]="map.options.showSatelliteForSelected"
            [showSelection]="true"
          ></app-ol-style-parcels>
          <app-ol-source-parcels></app-ol-source-parcels>
          <app-ol-interaction-redraw></app-ol-interaction-redraw>
          <app-ol-interaction-select [eventType]="'singleclick'" [multi]="true">
            <mat-menu #theContextMenu mapContextMenu>
              <ng-template matMenuContent>
                <ng-template [ngTemplateOutlet]="contextmenu"></ng-template>
              </ng-template>
            </mat-menu>
          </app-ol-interaction-select>
        </app-ol-layer-vector>

        <!-- 📦 OVERLAY FOR LABEL REPOSITIONING -->

        <app-ol-overlay-label *ngIf="!theMap.printing"></app-ol-overlay-label>

        <!-- 📦 BOUNDARY LAYER -->

        <app-ol-layer-vector>
          <app-ol-style-polygons></app-ol-style-polygons>
          <app-ol-source-boundary></app-ol-source-boundary>
        </app-ol-layer-vector>
      </ng-container>
    </app-ol-map>
  </mat-drawer-content>

  <!-- 📦 DYNAMIC SIDEBAR-->

  <mat-drawer #drawer class="sidebar" mode="over" position="end">
    <ng-container appContextMenuHost></ng-container>
  </mat-drawer>
</mat-drawer-container>

<!-- 📦 CONTEXT MENU -->

<ng-template #contextmenu>
  <nav class="contextmenu">
    <header class="header">
      Lorem ipsum {{ olMap.selector.selectedIDs.join(', ') }}
    </header>

    <ul>
      <li
        (click)="canParcelProperties($event) && onContextMenu('parcel-properties')"
        [class.disabled]="!canParcelProperties()"
        class="item"
      >
        <img class="icon" src="assets/properties.svg" />
        Parcel properties ...
      </li>

      <li
        (click)="canSubdivideParcel($event) && onContextMenu('subdivide-parcel')"
        [class.disabled]="!canSubdivideParcel()"
        class="item"
      >
        <img class="icon" src="assets/split.png" />
        Subdivide parcel ...
      </li>

      <li
        (click)="canRedrawBoundary($event) && onContextMenu('redraw-boundary')"
        [class.disabled]="!canRedrawBoundary()"
        class="item"
      >
        <img class="icon" src="assets/target2.svg" />
        Redraw parcel boundary
      </li>

      <li
        (click)="canMergeParcels($event) && onContextMenu('merge-parcels')"
        [class.disabled]="!canMergeParcels()"
        class="item"
      >
        <img class="icon" src="assets/merge.svg" />
        Merge parcels ...
      </li>

      <li
        (click)="canRecenterLabel($event) && onContextMenu('recenter-label')"
        [class.disabled]="!canRecenterLabel()"
        class="item"
      >
        <img class="icon" src="assets/target2.svg" />
        Recenter label in parcel
      </li>
    </ul>
  </nav>
</ng-template>
