<header class="header">
  <figure class="icon">
    <fa-icon [icon]="['fad', 'location-plus']" size="2x"></fa-icon>
  </figure>

  <p class="title">Create property map</p>
  <p class="subtitle">{{ selectedIDs.join(', ') }}</p>
</header>

<form
  #createForm="ngForm"
  autocomplete="off"
  class="form"
  novalidate
  spellcheck="false"
>
  <p class="instructions">
    Property parcels are initialized from those selected. After <em>SAVE</em>,
    use the <em>menu</em> to navgate to the new property map.
  </p>

  <mat-form-field>
    <mat-label>Give your map a name</mat-label>
    <input
      #name="ngModel"
      [(ngModel)]="record.name"
      autocomplete="off"
      matInput
      name="name"
      placeholder="eg: My Huge Estate"
      required
    />
    <mat-error *ngIf="name.errors">A map name is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Assign an unique ID to your map</mat-label>
    <input
      #id="ngModel"
      [(ngModel)]="record.id"
      autocomplete="off"
      matInput
      name="id"
      pattern="[a-z0-9]+"
      placeholder="eg: rockefeller"
      required
    />
    <mat-error *ngIf="id.errors"
      >Use only lowercase letters and numbers</mat-error
    >
    <mat-hint *ngIf="!id.errors"
      >Viewer app URL: <em>https://{{ record.id }}.munimap.online</em></mat-hint
    >
  </mat-form-field>

  <p class="instructions">
    Choose the size at which the map will be printed. The aspect ratio
    determines the map's boundary box. These sizes are all available via the
    <a href="https://www.posterburner.com/makecustomposters" target="_blank">
      PosterBurner</a
    >
    print service.
  </p>

  <mat-radio-group
    [(ngModel)]="record.printSize"
    class="print-sizes"
    name="printSize"
    required
  >
    <mat-radio-button
      *ngFor="let printSize of printSizes; trackBy: trackByID"
      [value]="printSize"
    >
      {{ printSize }}
    </mat-radio-button>
  </mat-radio-group>
</form>

<article class="actions">
  <button (click)="cancel()" mat-flat-button>CANCEL</button>

  <button
    (click)="save(record)"
    [disabled]="createForm.invalid || !createForm.dirty"
    color="primary"
    mat-flat-button
  >
    SAVE
  </button>
</article>
