<header class="header">
  <figure class="icon">
    <fa-icon [icon]="['fad', 'location-plus']" size="2x"></fa-icon>
  </figure>

  <p class="title">Create property map</p>
  <p class="subtitle">{{ selectedIDs.join(', ') }}</p>
</header>

<form
  #createForm="ngForm"
  (keydown.escape)="cancel()"
  (submit)="save(record)"
  autocomplete="off"
  class="form"
  id="createForm"
  novalidate
  spellcheck="false">
  <p class="instructions">
    Property parcels are initialized from those selected. After
    <em>SAVE</em>
    , use the
    <em>menu</em>
    to navgate to the new property map.
  </p>

  <mat-form-field>
    <mat-label>Give your map a name</mat-label>
    <input
      #name="ngModel"
      [(ngModel)]="record.name"
      [appAutoFocus]="true"
      autocomplete="off"
      matInput
      name="name"
      placeholder="eg: My Huge Estate"
      required />
    @if (name.errors) {
    <mat-error>A map name is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Assign an unique ID to your map</mat-label>
    <input
      #id="ngModel"
      [(ngModel)]="record.id"
      autocomplete="off"
      matInput
      name="id"
      pattern="[a-z0-9-_]+"
      placeholder="eg: rockefeller"
      required />
    @if (id.errors) {
    <mat-error>
      Use only lowercase letters and numbers, plus dash and underscore
    </mat-error>
    } @if (!id.errors) {
    <mat-hint>
      Viewer app URL:
      <em>https://{{ record.id }}.munimap.online</em>
    </mat-hint>
    }
  </mat-form-field>

  <br />

  <p class="instructions">Choose the format of the map.</p>

  <mat-radio-group
    [(ngModel)]="record.contours2ft"
    class="map-format"
    name="contours2ft"
    required>
    <mat-radio-button [value]="false">Hillshade</mat-radio-button>
    <mat-radio-button [value]="true">2ft contours</mat-radio-button>
  </mat-radio-group>

  <p class="instructions">
    Choose the size at which the map will be printed. The aspect ratio
    determines the map's boundary box. These sizes are all available via the
    <a href="https://www.posterburner.com/makecustomposters" target="_blank">
      PosterBurner
    </a>
    print service.
  </p>

  <mat-radio-group
    [(ngModel)]="record.printSize"
    class="print-sizes"
    name="printSize"
    required>
    @for (printSize of printSizes; track printSize) {
    <mat-radio-button [value]="printSize">{{ printSize }}</mat-radio-button>
    }
  </mat-radio-group>
</form>

<article class="actions">
  <button (click)="cancel()" mat-flat-button>CANCEL</button>

  <button
    [disabled]="createForm.invalid || !createForm.dirty"
    color="primary"
    form="createForm"
    mat-flat-button
    type="submit">
    SAVE
  </button>
</article>
