<header class="header">
  <figure class="icon">
    <fa-icon [icon]="['fad', 'tasks']" size="2x"></fa-icon>
  </figure>

  <p class="title">Modify parcel settings</p>
  <p class="subtitle">{{ selectedIDs.join(', ') }}</p>
</header>

<p *ngIf="selectedIDs.length > 1" class="instructions">
  All selected parcels will be modified with the same settings.
  <fa-icon [icon]="['fad', 'exclamation-triangle']"></fa-icon> indicates
  settings that are currently different.
</p>

<form
  #propertiesForm="ngForm"
  (keydown.escape)="cancel()"
  (submit)="save(record)"
  [ngStyle]="{'grid-template-rows': 'repeat(' + ((editables.length / 2) + 1) + ', auto)'}"
  autocomplete="off"
  class="form two-column"
  id="propertiesForm"
  novalidate
  spellcheck="false"
>
  <ng-container
    *ngFor="let value of (record | values); let ix = index; trackBy: trackByProp"
  >
    <!-- 
      👇 this control for props with a list 
        NOTE: use only appears if usage === current use
    -->
    <mat-form-field
      *ngIf="value.list && (value.prop !== 'use' || record.usage.value === '190')"
      floatLabel="always"
    >
      <mat-label>{{ value.label }}</mat-label>
      <mat-select
        [(ngModel)]="value.value"
        [attr.ngControl]="value.prop"
        [appAutoFocus]="ix === 0"
        [name]="value.prop"
      >
        <mat-option
          *ngFor="let option of value.list | keyvalue; trackBy: trackByOption"
          [value]="option.key"
        >
          {{ option.value}}
        </mat-option>
      </mat-select>
      <fa-icon
        *ngIf="value.conflict"
        [icon]="['fad', 'exclamation-triangle']"
        matSuffix
      ></fa-icon>
    </mat-form-field>

    <!-- 👇 this control for type-in props -->
    <mat-form-field *ngIf="!value.list" floatLabel="always">
      <mat-label>{{ value.label }}</mat-label>
      <input
        [(ngModel)]="value.value"
        [attr.ngControl]="value.prop"
        [appAutoFocus]="ix === 0"
        [appSelectOnFocus]="true"
        [name]="value.prop"
        [type]="value.type ?? 'text'"
        [step]="value.step"
        matInput
      />
      <fa-icon
        *ngIf="value.conflict"
        [icon]="['fad', 'exclamation-triangle']"
        matSuffix
      ></fa-icon>
    </mat-form-field>
  </ng-container>
</form>

<article class="actions">
  <button (click)="cancel()" mat-flat-button>DONE</button>

  <button
    [disabled]="!propertiesForm.dirty"
    color="primary"
    form="propertiesForm"
    mat-flat-button
    type="submit"
  >
    SAVE
  </button>
</article>
