:host {
  display: block;
  padding: 0.5rem 1rem;
}

.legend {
  border-collapse: collapse;
  width: 100%;

  td {
    padding: 0.25rem;
  }

  thead td {
    font-weight: bold;
    text-transform: uppercase;
  }

  .desc {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .usage {
    .key {
      border: 1px dashed var(--mat-blue-gray-300);
      height: 1.5rem;
      position: relative;
      width: 2rem;

      &::before {
        background-color: white;
        content: '';
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: -1;
      }
    }
  }

  .use {
    .keys {
      display: grid;
      font-size: smaller;
      gap: 0.5rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
      padding: 0.5rem 1rem;

      .key {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: auto 1fr;
        white-space: nowrap;

        > div {
          align-items: center;
          border: 1px dashed var(--mat-blue-gray-300);
          display: flex;
          height: 1.5rem;
          justify-content: center;
          position: relative;
          width: 1.5rem;

          &::before {
            background-color: white;
            content: '';
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: -1;
          }

          > img {
            height: 75%;
            width: 75%;
          }
        }
      }
    }
  }
}
