<button (click)="reset()" class="reloader" mat-icon-button>
  <fa-icon [icon]="['fas', 'sync']" size="lg"></fa-icon>
</button>

<header class="header">
  <figure class="icon">
    <fa-icon [icon]="['fad', 'map']" size="2x"></fa-icon>
  </figure>
  <p class="title">Legend</p>
  <p class="subtitle">Color-coded parcel usage</p>
</header>

<table class="form legend">
  <tbody>
    <ng-container
      *ngFor="let usage of registry.list('parcel', 'usage'); trackBy: trackByUsage"
    >
      <tr>
        <td class="usage">
          <figure
            [style.backgroundColor]="'rgba(var(--map-parcel-fill-u' + usage[0] + '), 0.5)'"
            class="key"
          ></figure>
        </td>
        <td class="desc">{{ usage[1].decoding }}</td>
      </tr>

      <tr *ngIf="usage[0] === '190'">
        <td class="use" colspan="2">
          <article class="keys">
            <ng-container
              *ngFor="let use of registry.list('parcel', 'use'); trackBy: trackByUsage"
            >
              <!-- 🔥 TEMPORARY - WASHINGTON ONLY -->
              <figure
                *ngIf="['CUFL', 'CUMH', 'CUMW', 'CUUH', 'CUUW', 'CUWL'].includes(use[0])"
                class="key"
              >
                <img [src]="'assets/legend/' + use[0] +'.png'" class="icon" />
                <figcaption>{{ use[1].decoding }}</figcaption>
              </figure>
            </ng-container>
          </article>
        </td>
        <td></td>
      </tr>
    </ng-container>

    <tr>
      <td colspan="2"></td>
    </tr>

    <tr>
      <td class="des" colspan="2">
        <article class="keys">
          DES

          <figure class="key">
            <div
              [style.backgroundImage]="'url(\'' + floodplain.getImage().toDataURL() +  '\')'"
              class="icon"
            ></div>
            <figcaption>FEMA Floodplain</figcaption>
          </figure>

          <figure class="key">
            <div
              [style.backgroundImage]="'url(\'' + peatland.getImage().toDataURL() +  '\')'"
              class="icon"
            ></div>
            <figcaption>Peatland</figcaption>
          </figure>

          <figure class="key">
            <div
              [style.backgroundImage]="'url(\'' + wetland.getImage().toDataURL() +  '\')'"
              class="icon"
            ></div>
            <figcaption>Wetland</figcaption>
          </figure>
        </article>
      </td>
    </tr>
  </tbody>
</table>
