:host {
  display: block;
}

.form {
  display: grid;
  grid-template-rows: auto auto;
}

.mat-divider {
  border-top-color: var(--text-color);
}

.thumbnail img {
  height: 64px;
  width: 64px;
}

.thumbnails {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
