<mat-card class="card">
  <mat-card-header>
    <img src="assets/favicon.svg" mat-card-avatar />
    <mat-card-title>Customize Your Map</mat-card-title>
    <mat-card-subtitle>blah blah</mat-card-subtitle>
  </mat-card-header>

  <mat-divider></mat-divider>

  <br />

  <mat-card-content>
    <form
      #setupForm="ngForm"
      autocomplete="off"
      class="form"
      novalidate
      spellcheck="false"
    >
      <mat-form-field>
        <mat-label>Give your map a name</mat-label>
        <input
          [(ngModel)]="map.name"
          matInput
          name="name"
          placeholder="eg: My Old Town"
          required
        />
      </mat-form-field>

      <mat-label>
        Choose a map style:
        <ng-container [ngSwitch]="map.style" class="explanations">
          <span *ngSwitchCase="'mapbox'"
            ><a href="https://www.mapbox.com/maps" target="_blank">Mapbox</a>
            Street View emphasizes simplicity</span
          >

          <span *ngSwitchCase="'osm'"
            ><a href="https://www.openstreetmap.org/" target="_blank"
              >OpenStreetMap</a
            >
            (OSM) blah blah blah</span
          >

          <span *ngSwitchCase="'google'">
            <a href="https://www.google.com/maps" target="_blank">Google</a>
            blah blah blah</span
          >

          <span *ngSwitchCase="'arcgis'"
            ><a
              href="https://www.arcgis.com/apps/mapviewer/index.html"
              target="_blank"
              >ArcGIS</a
            >
            blah blah blah</span
          >

          <span *ngSwitchCase="'blank'"
            >Overlay a blank canvas with State GIS data</span
          >
        </ng-container>
      </mat-label>

      <!-- 👇 https://stackoverflow.com/questions/17541614/ -->

      <section class="thumbnails">
        <label class="thumbnail">
          <input
            [(ngModel)]="map.style"
            name="style"
            type="radio"
            value="mapbox"
          />
          <img src="assets/mapbox.png" />
          Mapbox
        </label>

        <label class="thumbnail">
          <input
            [(ngModel)]="map.style"
            type="radio"
            name="style"
            value="osm"
          />
          <img src="assets/osm.png" />
          OSM
        </label>

        <label class="thumbnail">
          <input
            [(ngModel)]="map.style"
            type="radio"
            name="style"
            value="google"
          />
          <img src="assets/google.png" />
          Google
        </label>

        <label class="thumbnail">
          <input
            [(ngModel)]="map.style"
            type="radio"
            name="style"
            value="arcgis"
          />
          <img src="assets/arcgis.jpeg" />
          ArcGIS
        </label>

        <label class="thumbnail">
          <input
            [(ngModel)]="map.style"
            type="radio"
            name="style"
            value="blank"
          />
          <img src="assets/blank.jpeg" />
          Blank
        </label>
      </section>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button
      (click)="submit()"
      [disabled]="setupForm.invalid"
      color="primary"
      mat-flat-button
    >
      SAVE
    </button>
  </mat-card-actions>
</mat-card>
