<!-- <article (click)="rolledup = !rolledup" class="rolledup">
  <img mat-card-avatar src="assets/favicon.svg" />
</article> -->

<mat-card [class.rolledup]="rolledup" class="card">
  <mat-card-header>
    <img
      (click)="rolledup = !rolledup"
      mat-card-avatar
      src="assets/favicon.svg"
    />

    <mat-card-title>Customize Your Map</mat-card-title>
    <mat-card-subtitle>Lorem ipsum dolor sit amet.</mat-card-subtitle>
    <button
      *ngIf="!rolledup && !townMap.creating"
      (click)="rolledup = !rolledup"
      class="closer"
      mat-icon-button
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>

  <mat-divider></mat-divider>

  <br />

  <mat-card-content>
    <form
      #setupForm="ngForm"
      (ngSubmit)="update(map)"
      autocomplete="off"
      class="form"
      novalidate
      spellcheck="false"
    >
      <mat-form-field>
        <mat-label>Give your map a name</mat-label>
        <input
          #name="ngModel"
          [(ngModel)]="map.name"
          matInput
          name="name"
          placeholder="eg: My Old Town"
          required
        />
      </mat-form-field>

      <mat-label>
        Choose a map style:
        <ng-container [ngSwitch]="map.style" class="explanations">
          <span *ngSwitchCase="'mapbox'"
            ><a href="https://www.mapbox.com/maps" target="_blank">Mapbox</a>
            Street View emphasizes simplicity</span
          >

          <span *ngSwitchCase="'osm'"
            ><a href="https://www.openstreetmap.org/" target="_blank"
              >OpenStreetMap</a
            >
            (OSM) Lorem ipsum dolor sit amet.</span
          >

          <span *ngSwitchCase="'google'">
            <a href="https://www.google.com/maps" target="_blank">Google</a>
            Lorem ipsum dolor sit amet.</span
          >

          <span *ngSwitchCase="'arcgis'"
            ><a
              href="https://www.arcgis.com/apps/mapviewer/index.html"
              target="_blank"
              >ArcGIS</a
            >
            Lorem ipsum dolor sit amet.</span
          >

          <span *ngSwitchCase="'nhgranit'">Vector data from NH GranIT</span>
        </ng-container>
      </mat-label>

      <!-- 👇 https://stackoverflow.com/questions/17541614/ -->

      <section class="thumbnails">
        <label class="thumbnail">
          <input
            [(ngModel)]="map.style"
            name="style"
            type="radio"
            value="mapbox"
          />
          <img src="assets/mapbox.png" />
          Mapbox
        </label>

        <label class="thumbnail">
          <input
            [(ngModel)]="map.style"
            type="radio"
            name="style"
            value="osm"
          />
          <img src="assets/osm.png" />
          OSM
        </label>

        <label class="thumbnail">
          <input
            [(ngModel)]="map.style"
            type="radio"
            name="style"
            value="google"
          />
          <img src="assets/google.png" />
          Google
        </label>

        <label class="thumbnail">
          <input
            [(ngModel)]="map.style"
            type="radio"
            name="style"
            value="arcgis"
          />
          <img src="assets/arcgis.png" />
          ArcGIS
        </label>

        <label class="thumbnail">
          <input
            [(ngModel)]="map.style"
            type="radio"
            name="style"
            value="nhgranit"
          />
          <img src="assets/nhgranit.png" />
          NH GranIT
        </label>
      </section>
    </form>
  </mat-card-content>

  <mat-card-actions class="actions">
    <div *ngIf="townMap.creating"></div>

    <button
      *ngIf="!townMap.creating"
      (click)="delete(map)"
      color="accent"
      mat-flat-button
    >
      DELETE
    </button>

    <button
      (click)="update(map)"
      [disabled]="setupForm.invalid"
      color="primary"
      mat-flat-button
    >
      SAVE
    </button>
  </mat-card-actions>
</mat-card>
