<mat-card
  *ngIf="user$ | async | pick: 'displayName':'email':'photoURL' as user"
  class="card"
>
  <mat-card-header>
    <ngx-avatar
      [initialsSize]="2"
      [name]="user.displayName"
      [round]="true"
      [size]="48"
      [src]="user.photoURL"
      mat-card-avatar
    ></ngx-avatar>
    <mat-card-title>{{ user.displayName }}</mat-card-title>
    <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
    <button (click)="editMode = !editMode" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content *ngIf="editMode" class="form">
    <mat-form-field appearance="standard">
      <mat-label>Display Name</mat-label>
      <input [(ngModel)]="user.displayName" matInput type="text" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Photo URL</mat-label>
      <input [(ngModel)]="user.photoURL" matInput type="url" />
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions align="end">
    <button *ngIf="editMode" (click)="update(user)" mat-button>Update</button>
    <button (click)="logout()" mat-button>Sign out</button>
  </mat-card-actions>
</mat-card>
