// 👇 attempt to draw real palette from duotone icon
.palette {
  --fa-primary-color: var(--mat-yellow-300);
  --fa-secondary-color: var(--mat-brown-500);
}

.strategies {
  display: grid;
  grid-template-rows: 1fr;
}
