<button (click)="reset()" class="reloader" mat-icon-button>
  <fa-icon [icon]="['fas', 'sync']" size="lg"></fa-icon>
</button>

<header class="header">
  <figure class="icon">
    <fa-icon [icon]="['fad', 'map']" size="2x"></fa-icon>
  </figure>
  <p class="title">Legend</p>
  <p class="subtitle">Color-coded parcel usage</p>
</header>

<table class="form legend">
  <tbody>
    <tr>
      <th></th>
      <th></th>
      <th>#Lots</th>
      <th>Acres</th>
    </tr>

    <ng-container
      *ngFor="let usage of parcelPropertiesUsage | keyvalue; trackBy: trackByKeyValue"
    >
      <tr *ngIf="countByUsage[usage.key] > 0">
        <td class="usage">
          <figure
            [style.backgroundColor]="'rgba(var(--map-parcel-fill-u' + usage.key + '), 0.5)'"
            class="key"
          ></figure>
        </td>
        <td class="desc">{{ usage.value }}</td>
        <td class="count">{{ countByUsage[usage.key] | number:'1.0-0' }}</td>
        <td class="count">{{ areaByUsage[usage.key] | number:'1.0-0' }}</td>
        <td></td>
      </tr>

      <tr *ngIf="usage.key === '190'">
        <td class="use" colspan="4">
          <article class="keys">
            <ng-container
              *ngFor="let use of parcelPropertiesUse | keyvalue; trackBy: trackByKeyValue"
            >
              <!-- 🔥 TEMPORARY - WASHINGTON ONLY -->
              <figure
                *ngIf="['CUFL', 'CUMH', 'CUMW', 'CUUH', 'CUUW', 'CUWL'].includes(use.key)"
                class="key"
              >
                <img [src]="'assets/legend/' + use.key +'.png'" class="icon" />
                <figcaption>{{ use.value }}</figcaption>
              </figure>
            </ng-container>
          </article>
        </td>
        <td></td>
      </tr>
    </ng-container>

    <tr>
      <td colspan="4"></td>
    </tr>

    <tr>
      <td class="des" colspan="4">
        <article class="keys">
          DES

          <figure class="key">
            <div [style.backgroundColor]="iconFloodplain" class="icon"></div>
            <figcaption>FEMA Floodplain</figcaption>
          </figure>

          <figure class="key">
            <div
              [style.backgroundImage]="'url(\'' + iconWetland.getImage().toDataURL() +  '\')'"
              class="icon"
            ></div>
            <figcaption>Wetland</figcaption>
          </figure>
        </article>
      </td>
    </tr>

    <tr>
      <td colspan="4"></td>
    </tr>

    <tr>
      <td class="help">
        <fa-icon [icon]="['fas', 'question-circle']" size="2x"></fa-icon>
      </td>
      <td class="desc" colspan="3">
        <a href="mailto:munimap.helpdesk@gmail.com" target="_blank"
          >munimap.helpdesk@gmail.com</a
        >
      </td>
    </tr>
  </tbody>
</table>
