<app-ol-map
  *ngIf="(map$ | async) as map"
  #olMap
  [minZoom]="13"
  [maxZoom]="22"
  [path]="map.path"
  class="content"
>
  <!-- 📦 CONTROLS -->

  <app-ol-control-searchparcels mapControlSearch></app-ol-control-searchparcels>

  <app-ol-control-plusminus mapControlZoom></app-ol-control-plusminus>

  <app-ol-control-attribution
    mapControlAttribution
  ></app-ol-control-attribution>

  <ng-container *ngIf="olMap.initialized">
    <!-- 📦 OL CONTROLS -- WILL BE PRINTED -->

    <app-ol-control-graticule
      ><app-ol-style-graticule></app-ol-style-graticule
    ></app-ol-control-graticule>

    <app-ol-control-scaleline></app-ol-control-scaleline>

    <!-- 📦 NORMAL (not satellite) LAYERS -->

    <ng-container *ngIf="!(satelliteView$ | async)">
      <!-- 📦 BG LAYER (outside town)-->

      <app-ol-layer-tile *ngIf="(zoom$ | async) >= 15">
        <app-ol-source-xyz
          [url]="'https://api.mapbox.com/styles/v1/mapbox/streets-v8/tiles/256/{z}/{x}/{y}?access_token=' + env.mapbox.apiKey"
          ><app-ol-attribution
            >©
            <a href="https://mapbox.com" target="_blank"
              >Mapbox</a
            ></app-ol-attribution
          ></app-ol-source-xyz
        >
      </app-ol-layer-tile>

      <!-- 📦 BG LAYER (lays down a texture inside town)-->

      <app-ol-layer-vector>
        <app-ol-style-boundary></app-ol-style-boundary>
        <app-ol-source-boundary></app-ol-source-boundary>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <!-- 📦 HILLSHADE LAYER  -->

      <app-ol-layer-tile *ngIf="(zoom$ | async) >= 15" [opacity]="1">
        <app-ol-source-xyz
          [maxZoom]="17"
          [url]="'https://server.arcgisonline.com/ArcGIS/rest/services/Elevation/World_Hillshade/MapServer/tile/{z}/{y}/{x}'"
        >
          <app-ol-attribution
            >Powered by
            <a href="https://www.esri.com" target="_blank"
              >Esri</a
            ></app-ol-attribution
          >
        </app-ol-source-xyz>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-tile>

      <app-ol-layer-vector>
        <app-ol-style-parcels
          [showBackground]="true"
          [showBorder]="true"
        ></app-ol-style-parcels>
        <app-ol-source-parcels></app-ol-source-parcels>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-style-waterbodies></app-ol-style-waterbodies>
        <app-ol-source-waterbodies></app-ol-source-waterbodies>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-style-rivers></app-ol-style-rivers>
        <app-ol-source-geojson [layerKey]="'rivers'"></app-ol-source-geojson>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-style-roads></app-ol-style-roads>
        <app-ol-source-geojson [layerKey]="'roads'"></app-ol-source-geojson>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector *ngIf="(zoom$ | async) >= 15">
        <app-ol-style-trails></app-ol-style-trails>
        <app-ol-source-geojson [layerKey]="'trails'"></app-ol-source-geojson>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector *ngIf="(zoom$ | async) >= 15">
        <app-ol-style-stonewalls></app-ol-style-stonewalls>
        <app-ol-source-stonewalls></app-ol-source-stonewalls>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-style-floodplain></app-ol-style-floodplain>
        <app-ol-source-floodplain></app-ol-source-floodplain>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector *ngIf="(zoom$ | async) >= 15">
        <app-ol-style-wetland></app-ol-style-wetland>
        <app-ol-source-wetland></app-ol-source-wetland>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector *ngIf="(zoom$ | async) >= 15">
        <app-ol-style-buildings></app-ol-style-buildings>
        <app-ol-source-geojson [layerKey]="'buildings'"></app-ol-source-geojson>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-style-powerlines></app-ol-style-powerlines>
        <app-ol-source-geojson
          [layerKey]="'powerlines'"
        ></app-ol-source-geojson>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector *ngIf="(zoom$ | async) >= 15">
        <app-ol-style-parcels [showLabels]="true"></app-ol-style-parcels>
        <app-ol-source-parcels> </app-ol-source-parcels>
      </app-ol-layer-vector>

      <app-ol-layer-vector *ngIf="(zoom$ | async) >= 15">
        <app-ol-style-places></app-ol-style-places>
        <app-ol-source-geojson [layerKey]="'places'"></app-ol-source-geojson>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>
    </ng-container>

    <!-- 📦 SATELLITE LAYERS  -->

    <app-ol-layer-tile>
      <app-ol-source-xyz
        [url]="'https://api.mapbox.com/styles/v1/mapbox/satellite-streets-v11/tiles/256/{z}/{x}/{y}?access_token=' + env.mapbox.apiKey"
        ><app-ol-attribution
          >©
          <a href="https://mapbox.com" target="_blank"
            >Mapbox</a
          ></app-ol-attribution
        ></app-ol-source-xyz
      >
      <app-ol-filter-crop2selected
        *ngIf="!(satelliteView$ | async)"
      ></app-ol-filter-crop2selected>
    </app-ol-layer-tile>

    <app-ol-layer-vector
      *ngIf="(satelliteView$ | async) && (zoom$ | async) >= 15"
    >
      <app-ol-style-parcels
        [showBorder]="true"
        [showLabelContrast]="true"
        [showLabels]="true"
      ></app-ol-style-parcels>
      <app-ol-source-parcels></app-ol-source-parcels>
    </app-ol-layer-vector>

    <!-- 📦 BOUNDARY LAYER -->

    <app-ol-layer-vector>
      <app-ol-style-polygons></app-ol-style-polygons>
      <app-ol-source-boundary></app-ol-source-boundary>
    </app-ol-layer-vector>

    <!-- 📦 SELECTION LAYER -->

    <app-ol-layer-vector *ngIf="(zoom$ | async) >= 15">
      <app-ol-style-parcels
        [showAbutters]="true"
        [showDimensions]="true"
        [showLabelContrast]="true"
        [showLabels]="true"
        [showSelection]="true"
      ></app-ol-style-parcels>
      <app-ol-source-parcels></app-ol-source-parcels>
      <app-ol-interaction-selectparcels
        [eventType]="'click'"
        [findAbutters]="true"
      >
      </app-ol-interaction-selectparcels>
      <app-ol-popup-selection>
        <app-ol-popup-parcelproperties></app-ol-popup-parcelproperties>
      </app-ol-popup-selection>
    </app-ol-layer-vector>

    <!-- 📦 OVERLAY FOR GPS -->

    <app-ol-overlay-gps
      *ngIf="(gps$ | async) && (zoom$ | async) >= 15"
    ></app-ol-overlay-gps>
  </ng-container>
</app-ol-map>
