<main class="page">
  <mat-toolbar class="toolbar">
    <button
      (click)="drawer.toggle()"
      [disabled]="!(user$ | async)"
      mat-icon-button
    >
      <mat-icon>menu</mat-icon>
    </button>

    <h1>
      <ng-container *ngIf="title"> {{ title }} </ng-container>
    </h1>

    <div class="filler"></div>

    <ng-container *ngIf="user$ | async as user">
      <ngx-avatar
        #trigger="cdkOverlayOrigin"
        (clickOnAvatar)="openUserProfile = !openUserProfile"
        [gravatarId]="user.photoURL ? null : user.email"
        [initialsSize]="2"
        [name]="user.displayName"
        [round]="true"
        [size]="48"
        [src]="user.photoURL"
        cdkOverlayOrigin
        class="avatar"
      ></ngx-avatar>

      <ng-template
        cdkConnectedOverlay
        (backdropClick)="openUserProfile = false"
        [cdkConnectedOverlayHasBackdrop]="true"
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="openUserProfile"
      >
        <app-user-profile
          (done)="openUserProfile = false"
          [profile]="profile$ | async"
          [user]="user$ | async"
        ></app-user-profile>
      </ng-template>
    </ng-container>
  </mat-toolbar>

  <mat-progress-bar *ngIf="loading" color="primary" mode="indeterminate">
  </mat-progress-bar>

  <mat-drawer-container class="container">
    <mat-drawer #drawer class="sidebar" mode="over">
      <a (click)="drawer.close()" routerLink="/map-create">Create a new map</a>
      <br />
      <a (click)="drawer.close()" routerLink="/town-map/0">Build a town map</a>
    </mat-drawer>

    <mat-drawer-content [@moveFromLeftFade]="getState()" class="content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</main>
