:host {
  display: block;
  height: 100%;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;

  .avatar {
    cursor: pointer;
  }

  .container {
    height: calc(100% - (var(--map-cy-toolbar) * 1px));
    position: absolute;
    top: calc(var(--map-cy-toolbar) * 1px);
    width: 100%;
  }

  .content {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .sidebar {
    height: 100%;
    min-width: 25rem;
  }

  .toolbar {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: auto auto 1fr auto;
    height: calc(var(--map-cy-toolbar) * 1px);
    position: absolute;
    width: 100%;
  }
}
