<button (click)="reset()" class="reloader" mat-icon-button>
  <fa-icon [icon]="['fas', 'sync']" size="lg"></fa-icon>
</button>

<header class="header">
  <figure class="icon">
    <fa-icon [icon]="['fad', 'circle-notch']" size="2x"></fa-icon>
  </figure>
  <p class="title">Culverts</p>
  <p class="subtitle">Distribution and usage</p>
</header>

<article class="form">
  <table
    *ngFor="let metric of allMetrics; trackBy: trackByMetric"
    class="legend"
  >
    <thead>
      <tr>
        <th>{{ metric.tag }}</th>
        <th *ngFor="let condition of allConditions">
          <fa-icon
            [icon]="['fas', 'circle']"
            [style.color]="'rgba(var(--map-culvert-' + condition.toLowerCase() + '-icon-color), 1)'"
          ></fa-icon>
        </th>
      </tr>
    </thead>

    <tbody *ngIf="metric.enum() as keys">
      <tr *ngFor="let key of keys; trackBy: trackByKey">
        <td [style.width.%]="25">
          {{ key }} <span *ngIf="metric.key === 'diameter'">"</span>
        </td>

        <ng-container *ngFor="let condition of allConditions">
          <ng-container
            *ngIf="breakdowns[metric.key]?.[key]?.[condition] as stats"
          >
            <td [style.width.%]="75 / allConditions.length">
              <span *ngIf="stats.count && stats.length"
                >{{ stats.count }}&ndash;{{ stats.length }}'</span
              >
            </td>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>
  </table>
</article>
