<app-ol-map
  *ngIf="(map$ | async) as map"
  #olMap
  [loadingStrategy]="'bbox'"
  [minZoom]="13"
  [maxZoom]="20"
  [path]="map.path"
  class="content"
>
  <!-- 📦 CONTROLS -->

  <app-ol-control-plusminus mapControlZoom></app-ol-control-plusminus>

  <app-ol-control-attribution
    mapControlAttribution
  ></app-ol-control-attribution>

  <ng-container *ngIf="olMap.initialized">
    <!-- 📦 OL CONTROLS -->

    <app-ol-control-graticule
      ><app-ol-style-graticule></app-ol-style-graticule
    ></app-ol-control-graticule>

    <app-ol-control-scaleline></app-ol-control-scaleline>

    <!-- 📦 NORMAL (not satellite) LAYERS -->

    <ng-container *ngIf="!(satelliteView$ | async)">
      <!-- 📦 BG LAYER (outside town)-->

      <app-ol-layer-tile *ngIf="(zoom$ | async) < olMap.minUsefulZoom">
        <app-ol-source-xyz
          [url]="'https://api.mapbox.com/styles/v1/mapbox/streets-v8/tiles/256/{z}/{x}/{y}?access_token=' + env.mapbox.apiKey"
          ><app-ol-attribution
            >©
            <a href="https://mapbox.com" target="_blank"
              >Mapbox</a
            ></app-ol-attribution
          ></app-ol-source-xyz
        >
        <app-ol-filter-colorize
          [color]="[255, 255, 255]"
          [operation]="'hue'"
          [value]="0.9"
        ></app-ol-filter-colorize>
      </app-ol-layer-tile>

      <!-- 📦 HILLSHADE LAYER =-->

      <app-ol-layer-tile [opacity]="0.66">
        <app-ol-source-hillshade [colorize]="true"> </app-ol-source-hillshade>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-tile>

      <!-- 📦 NH GranIT VECTOR LAYERS -->

      <app-ol-layer-vector *ngIf="(zoom$ | async) >= olMap.minUsefulZoom">
        <app-ol-style-wetland></app-ol-style-wetland>
        <app-ol-source-wetland></app-ol-source-wetland>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector *ngIf="(zoom$ | async) >= olMap.minUsefulZoom">
        <!-- 👇 only drawing labels here - waterbodies draws actual river -->
        <app-ol-style-places></app-ol-style-places>
        <app-ol-source-rivers></app-ol-source-rivers>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-adaptor-waterbodies>
          <app-ol-style-universal [showAll]="true"></app-ol-style-universal>
        </app-ol-adaptor-waterbodies>
        <!-- 👇 exclude swamp/marsh b/c floodplain source below does it better -->
        <app-ol-source-waterbodies
          [exclude]="[466]"
        ></app-ol-source-waterbodies>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector *ngIf="(zoom$ | async) >= olMap.minUsefulZoom">
        <app-ol-adaptor-stonewalls>
          <app-ol-style-universal [showAll]="true"></app-ol-style-universal>
        </app-ol-adaptor-stonewalls>
        <app-ol-source-stonewalls></app-ol-source-stonewalls>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-adaptor-floodplains>
          <app-ol-style-universal [showAll]="true"></app-ol-style-universal>
        </app-ol-adaptor-floodplains>
        <app-ol-source-floodplains></app-ol-source-floodplains>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector *ngIf="(zoom$ | async) >= olMap.minUsefulZoom">
        <app-ol-adaptor-buildings>
          <app-ol-style-universal [showAll]="true"></app-ol-style-universal>
        </app-ol-adaptor-buildings>
        <app-ol-source-geojson [layerKey]="'buildings'"></app-ol-source-geojson>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector *ngIf="(zoom$ | async) >= olMap.minUsefulZoom">
        <app-ol-adaptor-railroads>
          <app-ol-style-universal [showAll]="true"></app-ol-style-universal>
        </app-ol-adaptor-railroads>
        <app-ol-source-railroads></app-ol-source-railroads>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-style-roads
          [showRoadLane]="true"
          [showRoadName]="true"
        ></app-ol-style-roads>
        <app-ol-source-geojson [layerKey]="'roads'"></app-ol-source-geojson>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector *ngIf="(zoom$ | async) >= olMap.minUsefulZoom">
        <app-ol-adaptor-trails>
          <app-ol-style-universal [showAll]="true"></app-ol-style-universal>
        </app-ol-adaptor-trails>
        <app-ol-source-geojson [layerKey]="'trails'"></app-ol-source-geojson>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector *ngIf="(zoom$ | async) >= olMap.minUsefulZoom">
        <app-ol-adaptor-bridges>
          <app-ol-style-universal [showAll]="true"></app-ol-style-universal>
        </app-ol-adaptor-bridges>
        <app-ol-source-bridges></app-ol-source-bridges>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector *ngIf="(zoom$ | async) >= olMap.minUsefulZoom">
        <app-ol-style-places></app-ol-style-places>
        <!-- 👇 dams excluded from "places" b/c "dams" below does it better -->
        <app-ol-source-geojson
          [exclude]="['dam', 'park']"
          [layerKey]="'places'"
        ></app-ol-source-geojson>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector *ngIf="(zoom$ | async) >= olMap.minUsefulZoom">
        <app-ol-style-places></app-ol-style-places>
        <app-ol-source-dams></app-ol-source-dams>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>

      <app-ol-layer-vector>
        <app-ol-style-powerlines></app-ol-style-powerlines>
        <app-ol-source-geojson
          [layerKey]="'powerlines'"
        ></app-ol-source-geojson>
        <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
      </app-ol-layer-vector>
    </ng-container>

    <!-- 📦 SATELLITE LAYERS  -->

    <ng-container *ngIf="satelliteView$ | async">
      <ng-container *ngIf="{ satelliteYear: satelliteYear$ | async } as ctx">
        <!-- 👇 split screen if year selected  -->

        <app-ol-control-splitscreen *ngIf="ctx.satelliteYear">
          <app-ol-layer-tile #left>
            <app-ol-source-xyz
              [s]="['mt0', 'mt1', 'mt2', 'mt3']"
              [url]="'https://{s}.google.com/vt/lyrs=s,h&hl=en&gl=en&x={x}&y={y}&z={z}&s=png&key=' + env.google.apiKey"
              ><app-ol-attribution
                >©
                <a href="https://google.com" target="_blank"
                  >Google</a
                ></app-ol-attribution
              ></app-ol-source-xyz
            >
          </app-ol-layer-tile>

          <app-ol-layer-tile #right>
            <app-ol-source-satellite
              [year]="ctx.satelliteYear"
            ></app-ol-source-satellite>
          </app-ol-layer-tile>
        </app-ol-control-splitscreen>

        <!-- 👇 otherwise, just show latest  -->

        <app-ol-layer-tile *ngIf="!ctx.satelliteYear">
          <app-ol-source-xyz
            [s]="['mt0', 'mt1', 'mt2', 'mt3']"
            [url]="'https://{s}.google.com/vt/lyrs=s,h&hl=en&gl=en&x={x}&y={y}&z={z}&s=png&key=' + env.google.apiKey"
            ><app-ol-attribution
              >©
              <a href="https://google.com" target="_blank"
                >Google</a
              ></app-ol-attribution
            ></app-ol-source-xyz
          >
        </app-ol-layer-tile>
      </ng-container>
    </ng-container>

    <!-- 📦 BOUNDARY LAYER -->

    <app-ol-layer-vector>
      <app-ol-adaptor-boundary
        ><app-ol-style-universal [showStroke]="true"></app-ol-style-universal
      ></app-ol-adaptor-boundary>
      <app-ol-source-boundary></app-ol-source-boundary>
    </app-ol-layer-vector>

    <!-- 📦 OVERLAY FOR GPS -->

    <app-ol-overlay-gps
      *ngIf="(gps$ | async) && (zoom$ | async) >= olMap.minUsefulZoom"
    ></app-ol-overlay-gps>
  </ng-container>
</app-ol-map>
