<main class="page">
  <mat-toolbar class="toolbar">
    <button
      (click)="nav.toggle()"
      [disabled]="!(user$ | async)"
      mat-icon-button
    >
      <fa-icon [icon]="['fas', 'bars']" size="2x"></fa-icon>
    </button>

    <h1>
      <ng-container *ngIf="title"> {{ title }} </ng-container>
    </h1>

    <mat-button-toggle
      #satelliteViewToggle
      (change)="onSatelliteViewToggle(satelliteViewToggle.checked)"
      [checked]="satelliteView$ | async"
    >
      <fa-icon [icon]="['fad', 'globe-americas']" size="lg"></fa-icon>
    </mat-button-toggle>

    <button (click)="redo()" [disabled]="!canRedo" mat-icon-button>
      <fa-icon [icon]="['fad', 'redo']" size="2x"></fa-icon>
    </button>

    <button (click)="undo()" [disabled]="!canUndo" mat-icon-button>
      <fa-icon [icon]="['fad', 'undo']" size="2x"></fa-icon>
    </button>

    <ng-container *ngIf="user$ | async as user">
      <app-avatar
        (click)="setup.toggle()"
        [name]="user.displayName"
        class="avatar"
      ></app-avatar>
    </ng-container>
  </mat-toolbar>

  <mat-progress-bar
    *ngIf="loading || working"
    color="primary"
    mode="indeterminate"
  >
  </mat-progress-bar>

  <mat-drawer-container class="container">
    <mat-drawer #nav class="sidebar" mode="over" position="start">
      <app-navigator [title]="title"></app-navigator>
    </mat-drawer>

    <mat-drawer #setup class="sidebar" mode="over" position="end">
      <ng-container *ngIf="user$ | async as user">
        <ng-container *ngIf="profile$ | async as profile">
          <app-profile [profile]="profile" [user]="user"></app-profile>
        </ng-container>
      </ng-container>
    </mat-drawer>

    <mat-drawer-content [@moveFromLeftFade]="getState()" class="content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</main>
