<main class="page">
  <mat-toolbar class="toolbar">
    <button
      (click)="drawer.toggle()"
      [disabled]="!(user$ | async)"
      mat-icon-button
    >
      <mat-icon>menu</mat-icon>
    </button>

    <h1>
      <ng-container *ngIf="title"> {{ title }} </ng-container>
    </h1>

    <div class="filler"></div>

    <button (click)="redo()" [disabled]="!canRedo" mat-icon-button>
      <mat-icon>redo</mat-icon>
    </button>

    <button (click)="undo()" [disabled]="!canUndo" mat-icon-button>
      <mat-icon>undo</mat-icon>
    </button>

    <ng-container *ngIf="user$ | async as user">
      <ngx-avatar
        #trigger="cdkOverlayOrigin"
        (clickOnAvatar)="openUserProfile = !openUserProfile"
        [gravatarId]="user.photoURL ? null : user.email"
        [initialsSize]="2"
        [name]="user.displayName"
        [round]="true"
        [size]="48"
        [src]="user.photoURL"
        cdkOverlayOrigin
        class="avatar"
      ></ngx-avatar>

      <ng-template
        cdkConnectedOverlay
        (backdropClick)="openUserProfile = false"
        [cdkConnectedOverlayHasBackdrop]="true"
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="openUserProfile"
      >
        <app-user-profile
          (done)="openUserProfile = false"
          [profile]="profile$ | async"
          [user]="user$ | async"
        ></app-user-profile>
      </ng-template>
    </ng-container>
  </mat-toolbar>

  <mat-progress-bar *ngIf="loading" color="primary" mode="indeterminate">
  </mat-progress-bar>

  <mat-drawer-container class="container">
    <mat-drawer #drawer class="sidebar" mode="over">
      <nav class="navigator">
        <ul>
          <li (click)="drawer.close()" routerLink="/map-create" class="item">
            <img class="icon" src="assets/favicon.svg" />
            <div class="title">Create a new map</div>
            <div class="subtitle">Lorem ipsum dolor sit amet.</div>
          </li>

          <li
            *ngFor="let map of allMaps$ | async; trackBy: trackByID"
            (click)="drawer.close()"
            class="item"
            routerLink="/town-map/{{ map.id }}"
          >
            <img
              *ngIf="registry.icon('map', 'style', map.style) as icon"
              [class.selected]="title === map.name"
              [src]="icon"
              class="icon"
            />
            <div class="title">{{ map.name }}</div>
            <div class="subtitle">{{ map.owner }}</div>
          </li>
        </ul>
      </nav>
    </mat-drawer>

    <mat-drawer-content [@moveFromLeftFade]="getState()" class="content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</main>
