:host {
  display: block;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 2rem;
}

.card {
  background-color: var(--mat-gray-900) !important;
  box-shadow: rgb(255 255 255 / 33%) 0px 8px 24px !important;
  position: relative;
  width: 25rem;
}

.editor {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
}

.form {
  display: grid;
  grid-template-rows: auto auto;
}

.hidden {
  display: none;
}
