<mat-card class="card">
  <mat-card-header>
    <ngx-avatar
      [gravatarId]="user.photoURL ? null : user.email"
      [initialsSize]="2"
      [name]="user.displayName"
      [round]="true"
      [size]="48"
      [src]="user.photoURL"
      mat-card-avatar
    ></ngx-avatar>
    <mat-card-title>{{ user.displayName || '&nbsp;' }}</mat-card-title>
    <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
    <button (click)="editMode = !editMode" class="editor" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content [class.hidden]="!editMode">
    <form
      #profileForm="ngForm"
      (ngSubmit)="update(user, profile)"
      autocomplete="off"
      class="form"
      novalidate
      spellcheck="false"
    >
      <mat-form-field>
        <mat-label>Display Name</mat-label>
        <input
          #displayName="ngModel"
          [(ngModel)]="user.displayName"
          matInput
          name="displayName"
          required
          type="text"
        />
        <mat-error *ngIf="displayName.errors"
          >A display name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Workgroup</mat-label>
        <textarea
          #workgroup="ngModel"
          [(ngModel)]="profile.workgroup"
          appWorkgroup
          cdkTextareaAutosize
          matInput
          name="workgroup"
        ></textarea>
        <mat-error *ngIf="workgroup.errors?.tooMany"
          >A maximum of 10 email addresses is allowed.
        </mat-error>
        <mat-error *ngIf="workgroup.errors?.invalidEmail"
          >At least one email address is invalid.
        </mat-error>
        <mat-hint *ngIf="!workgroup.errors"
          >Give the email addresses of up to 10 colleagues with who you share
          maps, each on a new line.</mat-hint
        >
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions class="actions">
    <button
      [class.hidden]="!editMode"
      [disabled]="profileForm.invalid"
      (click)="update(user, profile)"
      mat-flat-button
    >
      UPDATE
    </button>
    <button (click)="logout()" color="primary" mat-flat-button>SIGN OUT</button>
  </mat-card-actions>
</mat-card>
