:host {
  display: block;
  pointer-events: auto;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.card {
  background-color: var(--mat-gray-900) !important;
  box-shadow: rgb(255 255 255 / 33%) 0px 8px 24px !important;
  width: 25rem;
}

.form {
  display: grid;
  grid-template-rows: auto auto;
}
