:host {
  align-items: flex-start;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
}

.card {
  margin-top: 5rem;
  width: 25rem;
}

.filler {
  flex-grow: 1;
}

.form {
  display: grid;
  gap: 1rem;

  .mat-form-field {
    width: 100%;
  }
}
