<mat-card appearance="outlined" [class.rolledup]="rolledup" class="card">
  <mat-card-header>
    <img
      (click)="rolledup = !rolledup"
      mat-card-avatar
      src="assets/favicon.svg"
    />

    <mat-card-title>Identify Your Map</mat-card-title>
    <mat-card-subtitle>Name will appear on printed version</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form
      #setupForm="ngForm"
      (keydown.escape)="cancel()"
      (submit)="update(map)"
      class="form"
      id="setupForm"
      novalidate
      spellcheck="false"
    >
      <mat-form-field>
        <mat-label>Give your map a name</mat-label>
        <input
          #name="ngModel"
          [(ngModel)]="map.name"
          [appAutoFocus]="!rolledup"
          [appSelectOnFocus]="true"
          autocomplete="off"
          matInput
          name="name"
          placeholder="eg: My Old Town"
          required
        />
        @if (name.errors) {
        <mat-error>A map name is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Assign an unique ID to your map</mat-label>
        <input
          #id="ngModel"
          [(ngModel)]="map.id"
          [appSelectOnFocus]="true"
          [disabled]="!map.isDflt"
          autocomplete="off"
          matInput
          name="id"
          pattern="[a-z0-9-_]+"
          placeholder="eg: myoldtown"
          required
        />
        @if (id.errors) {
        <mat-error
          >Use only lowercase letters and numbers, plus dash and
          underscore</mat-error
        >
        } @if (!id.errors) {
        <mat-hint
          >Viewer app URL:
          <em>https://{{ map.id }}.munimap.online</em></mat-hint
        >
        }
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions class="actions">
    @if (canDelete()) {
    <a (click)="delete(map)" mat-flat-button> Delete ths map &hellip; </a>
    }

    <div class="filler"></div>

    <button (click)="cancel()" mat-flat-button>CANCEL</button>

    <button
      [disabled]="setupForm.invalid || !setupForm.dirty"
      color="primary"
      form="setupForm"
      mat-flat-button
      type="submit"
    >
      SAVE
    </button>
  </mat-card-actions>
</mat-card>
