<header class="header">
  <figure class="icon">
    <fa-icon [icon]="['fad', 'tasks']" size="2x"></fa-icon>
  </figure>

  <p class="title">Modify landmark settings</p>
</header>

<form
  #propertiesForm="ngForm"
  (keydown.escape)="cancel()"
  (submit)="save(record)"
  autocomplete="off"
  class="form"
  id="propertiesForm"
  novalidate
  spellcheck="false"
>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      #name="ngModel"
      [(ngModel)]="record.name"
      [appSelectOnFocus]="true"
      autocomplete="off"
      matInput
      name="name"
    />
  </mat-form-field>

  <mat-form-field *ngFor="let prop of metadataProps">
    <mat-label>{{ prop }}</mat-label>
    <input
      [(ngModel)]="record.metadata[prop]"
      [name]="prop"
      autocomplete="off"
      matInput
    />
  </mat-form-field>

  <mat-checkbox
    *ngIf="['LineString', 'Polygon'].includes(geometryType)"
    [(ngModel)]="record.showDimension"
    name="showDimension"
    >Show dimension</mat-checkbox
  >
</form>

<article class="actions">
  <button (click)="cancel()" mat-flat-button>DONE</button>

  <button
    [disabled]="!propertiesForm.dirty"
    color="primary"
    form="propertiesForm"
    mat-flat-button
    type="submit"
  >
    SAVE
  </button>
</article>
