<mat-drawer-container *ngIf="(mapState$ | async) as map" class="container">
  <mat-drawer-content class="content">
    <app-ol-map #olMap [minZoom]="13" [maxZoom]="22" [path]="map.path">
      <app-town-map-setup
        [map]="map"
        class="setup"
        mapControlPanel1
      ></app-town-map-setup>

      <!-- 📦 CONTROLS -->

      <app-ol-control-searchparcels
        mapControlSearch
      ></app-ol-control-searchparcels>

      <app-ol-control-zoom mapControlZoom></app-ol-control-zoom>

      <app-ol-control-print
        *ngIf="map.name"
        [fileName]="map.name"
        mapControlPrint
      ></app-ol-control-print>

      <app-ol-control-zoom2extent
        mapControlZoomToExtent
      ></app-ol-control-zoom2extent>

      <app-ol-control-attribution
        mapControlAttribution
      ></app-ol-control-attribution>

      <ng-container *ngIf="olMap.initialized">
        <!-- 📦 OL CONTROLS -- WILL BE PRINTED -->

        <app-ol-control-graticule
          ><app-ol-style-graticule></app-ol-style-graticule
        ></app-ol-control-graticule>

        <app-ol-control-legend
          *ngIf="map.name && olMap.printing"
          [county]="map.path.split(':')[1]"
          [printing]="olMap.printing"
          [state]="map.path.split(':')[0]"
          [title]="map.name"
        ></app-ol-control-legend>

        <app-ol-control-scaleline
          *ngIf="olMap.printing"
          [printing]="olMap.printing"
        ></app-ol-control-scaleline>

        <app-ol-control-scaleline
          *ngIf="!olMap.printing"
        ></app-ol-control-scaleline>

        <app-ol-control-credits *ngIf="olMap.printing"></app-ol-control-credits>

        <!-- 📦 BG LAYER (outside town)-->

        <app-ol-layer-tile>
          <app-ol-source-xyz
            [maxZoom]="19"
            [url]="'https://tile.openstreetmap.org/{z}/{x}/{y}.png'"
            ><app-ol-attribution
              >©
              <a href="https://www.openstreetmap.org/copyright" target="_blank"
                >OpenStreetMap</a
              >
              contributors</app-ol-attribution
            ></app-ol-source-xyz
          >
          <app-ol-filter-pencil></app-ol-filter-pencil>
        </app-ol-layer-tile>

        <!-- 📦 BG LAYER (lays down a texture inside town)-->

        <app-ol-layer-vector>
          <app-ol-style-boundary></app-ol-style-boundary>
          <app-ol-source-boundary></app-ol-source-boundary>
          <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
        </app-ol-layer-vector>

        <!-- 📦 HILLSHADE LAYER =-->

        <app-ol-layer-tile [opacity]="1">
          <app-ol-source-xyz
            [maxZoom]="17"
            [url]="'https://server.arcgisonline.com/ArcGIS/rest/services/Elevation/World_Hillshade/MapServer/tile/{z}/{y}/{x}'"
          >
            <app-ol-attribution
              >Powered by
              <a href="https://www.esri.com" target="_blank"
                >Esri</a
              ></app-ol-attribution
            >
          </app-ol-source-xyz>
          <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
        </app-ol-layer-tile>

        <!-- 📦 NH GranIT VECTOR LAYERS -->

        <app-ol-layer-vector>
          <app-ol-style-lakes></app-ol-style-lakes>
          <app-ol-source-geojson [layerKey]="'lakes'"></app-ol-source-geojson>
          <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
        </app-ol-layer-vector>

        <app-ol-layer-vector>
          <app-ol-style-parcels
            [showBackground]="true"
            [showBorder]="true"
          ></app-ol-style-parcels>
          <app-ol-source-parcels></app-ol-source-parcels>
        </app-ol-layer-vector>

        <app-ol-layer-vector>
          <app-ol-style-rivers></app-ol-style-rivers>
          <app-ol-source-geojson [layerKey]="'rivers'"></app-ol-source-geojson>
          <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
        </app-ol-layer-vector>

        <app-ol-layer-vector>
          <app-ol-style-roads></app-ol-style-roads>
          <app-ol-source-geojson [layerKey]="'roads'"></app-ol-source-geojson>
          <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
        </app-ol-layer-vector>

        <app-ol-layer-vector>
          <app-ol-style-trails></app-ol-style-trails>
          <app-ol-source-geojson [layerKey]="'trails'"></app-ol-source-geojson>
          <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
        </app-ol-layer-vector>

        <!-- 📦 we can't print stonewalls because the API will only deliver
           4000 and there are more than that on the entire extent of the map -->
        <app-ol-layer-vector *ngIf="!olMap.printing">
          <app-ol-style-stonewalls></app-ol-style-stonewalls>
          <app-ol-source-stonewalls></app-ol-source-stonewalls>
          <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
        </app-ol-layer-vector>

        <app-ol-layer-vector>
          <app-ol-style-peatland></app-ol-style-peatland>
          <app-ol-source-peatland></app-ol-source-peatland>
          <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
        </app-ol-layer-vector>

        <app-ol-layer-vector>
          <app-ol-style-floodplain></app-ol-style-floodplain>
          <app-ol-source-floodplain></app-ol-source-floodplain>
          <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
        </app-ol-layer-vector>

        <app-ol-layer-vector>
          <app-ol-style-wetland></app-ol-style-wetland>
          <app-ol-source-wetland></app-ol-source-wetland>
          <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
        </app-ol-layer-vector>

        <app-ol-layer-vector>
          <app-ol-style-buildings></app-ol-style-buildings>
          <app-ol-source-geojson
            [layerKey]="'buildings'"
          ></app-ol-source-geojson>
          <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
        </app-ol-layer-vector>

        <app-ol-layer-vector>
          <app-ol-style-powerlines></app-ol-style-powerlines>
          <app-ol-source-geojson
            [layerKey]="'powerlines'"
          ></app-ol-source-geojson>
          <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
        </app-ol-layer-vector>

        <app-ol-layer-vector>
          <app-ol-style-parcels [showLabels]="true"></app-ol-style-parcels>
          <app-ol-source-parcels> </app-ol-source-parcels>
        </app-ol-layer-vector>

        <app-ol-layer-vector>
          <app-ol-style-places></app-ol-style-places>
          <app-ol-source-geojson [layerKey]="'places'"></app-ol-source-geojson>
          <app-ol-filter-crop2boundary></app-ol-filter-crop2boundary>
        </app-ol-layer-vector>

        <!-- 📦 SELECTION LAYER (not printed) -->

        <app-ol-layer-vector *ngIf="!olMap.printing">
          <app-ol-style-parcels
            [showDimensions]="true"
            [showLabels]="true"
            [showSelection]="true"
          ></app-ol-style-parcels>
          <app-ol-source-parcels></app-ol-source-parcels>
          <app-ol-interaction-select [eventType]="'click'" [multi]="true">
            <mat-menu #theContextMenu mapContextMenu>
              <ng-template matMenuContent>
                <ng-template [ngTemplateOutlet]="contextmenu"></ng-template>
              </ng-template>
            </mat-menu>
          </app-ol-interaction-select>
          <app-ol-interaction-redraw></app-ol-interaction-redraw>
        </app-ol-layer-vector>

        <!-- 📦 OVERLAY FOR LABEL REPOSITIONING -->

        <app-ol-overlay-label *ngIf="!olMap.printing"></app-ol-overlay-label>

        <!-- 📦 BOUNDARY LAYER -->

        <app-ol-layer-vector>
          <app-ol-style-polygons></app-ol-style-polygons>
          <app-ol-source-boundary></app-ol-source-boundary>
        </app-ol-layer-vector>
      </ng-container>
    </app-ol-map>
  </mat-drawer-content>

  <!-- 📦 DYNAMIC SIDEBAR-->

  <mat-drawer #drawer class="sidebar" mode="over" position="end">
    <ng-container appContextMenuHost></ng-container>
  </mat-drawer>
</mat-drawer-container>

<!-- 📦 CONTEXT MENU -->

<ng-template #contextmenu>
  <nav class="contextmenu">
    <header *ngIf="olMap.selector.selectedIDs.length !== 0" class="header">
      Modify {{ olMap.selector.selectedIDs.join(', ') }}
    </header>

    <ul>
      <li
        (click)="canParcelProperties($event) && onContextMenu('parcel-properties')"
        [class.disabled]="!canParcelProperties()"
        class="item"
      >
        <fa-icon [fixedWidth]="true" [icon]="['fas', 'tasks']"></fa-icon>
        <p>Modify parcel settings &hellip;</p>
      </li>

      <li
        (click)="canAddParcel($event) && onContextMenu('add-parcel')"
        [class.disabled]="!canAddParcel()"
        class="item"
      >
        <fa-icon [fixedWidth]="true" [icon]="['fas', 'plus-square']"></fa-icon>
        <p>New parcel &hellip;</p>
      </li>

      <li
        (click)="canSubdivideParcel($event) && onContextMenu('subdivide-parcel')"
        [class.disabled]="!canSubdivideParcel()"
        class="item"
      >
        <fa-icon
          [fixedWidth]="true"
          [icon]="['fas', 'object-ungroup']"
        ></fa-icon>
        <p>Subdivide parcel &hellip;</p>
      </li>

      <li
        (click)="canRedrawBoundary($event) && onContextMenu('redraw-boundary')"
        [class.disabled]="!canRedrawBoundary()"
        class="item"
      >
        <fa-icon [fixedWidth]="true" [icon]="['fas', 'draw-polygon']"></fa-icon>
        <p>
          Redraw parcel boundary
          <em
            ><fa-icon
              [icon]="['fas', 'question-circle']"
              matTooltip="Click and drag the blue perimeter dots. Click+Ctrl to delete a point. ESC when finished."
            ></fa-icon
          ></em>
        </p>
      </li>

      <li
        (click)="canMergeParcels($event) && onContextMenu('merge-parcels')"
        [class.disabled]="!canMergeParcels()"
        class="item"
      >
        <fa-icon [fixedWidth]="true" [icon]="['fas', 'object-group']"></fa-icon>
        <p>Merge parcels &hellip;</p>
      </li>

      <li
        (click)="canRecenterLabel($event) && onContextMenu('recenter-label')"
        [class.disabled]="!canRecenterLabel()"
        class="item"
      >
        <fa-icon [fixedWidth]="true" [icon]="['fas', 'crosshairs']"></fa-icon>
        <p>
          Recenter label in parcel
          <em
            ><fa-icon
              [icon]="['fas', 'question-circle']"
              matTooltip="Click and drag the target icon to the new label position"
            ></fa-icon
          ></em>
        </p>
      </li>
    </ul>
  </nav>
</ng-template>
