@import 'colors.scss';
@import '~@angular/material/theming';

@include mat-core();

//  Custom Angular Material theme

$custom-primary: mat-palette($mat-blue, 500, 200, 700);
$custom-accent: mat-palette($mat-amber, 500, 200, 700);
$custom-warn: mat-palette($mat-red, 500, 200, 700);
$custom-theme: mat-dark-theme($custom-primary, $custom-accent, $custom-warn);

@include angular-material-theme($custom-theme);

@font-face {
  font-family: 'Bentham Regular';
  font-style: normal;
  font-weight: normal;
  src: url('assets/Bentham Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Carnevalee Freakshow';
  font-style: normal;
  font-weight: normal;
  src: url('assets/Carnevalee Freakshow.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('assets/RobotoMono.ttf') format('truetype');
}

:root {
  // 👉 bridge from Angular Material variables to CSS variables

  --primary-color: var(--mat-blue-500);
  --accent-color: var(--mat-amber-500);
  --warn-color: var(--mat-red-500);

  --text-color: var(--mat-grey-100);
  --disabled-color: var(--mat-grey-500);
  --background-color: var(--mat-grey-900);

  // 👉 to support StyleService

  --map-feature-fill: rgba(var(--rgb-green-700), 0.1);
  --map-feature-outline: var(--mat-green-700);
  --map-feature-outline-width: 2;
  --map-feature-text-color: var(--mat-green-700);
  --map-feature-text-font: bold 20px Roboto;
}

// 👉 base styles

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mat-grey-700);
  border-radius: 4px;
}

:focus {
  outline: 0;
}

a {
  color: var(--accent-color);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  line-height: 150%;
  overflow: hidden;
  user-select: none;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  border: 0;
  font-size: 14px;
  height: 100%;
  width: 100%;
}

ol,
ul {
  list-style-type: none;
}

// 👉 Firebase styles

.firebase-emulator-warning {
  display: none !important;
}

// 👉 OpenLayers styles
