<!-- <h1>{{ selectedIDs.join(', ') }}</h1>

<ng-container *ngIf="(parcels$ | async) as parcels">
  <p *ngFor="let parcel of parcels">
    From parcels: {{ parcel.properties | json }} <br /><br />
  </p>

  <p *ngFor="let feature  of features">
    From geojson: {{ feature.getProperties() | json }} <br /><br />
  </p>
</ng-container> -->

<header class="header">
  <img class="icon" mat-card-avatar src="assets/properties.svg" />
  <p class="title">Lorem ipsum dolor emit</p>
  <p class="subtitle">{{ selectedIDs.join(', ') }}</p>
</header>

<mat-divider></mat-divider>
