<header class="header">
  <img class="icon" mat-card-avatar src="assets/properties.svg" />
  <p class="title">Lorem ipsum dolor emit</p>
  <p class="subtitle">{{ selectedIDs.join(', ') }}</p>
</header>

<mat-divider></mat-divider>

<form
  #propertiesForm="ngForm"
  (ngSubmit)="save(record)"
  autocomplete="off"
  class="form"
  novalidate
  spellcheck="false"
>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel metus eu
    nunc lacinia feugiat. Morbi molestie mi in odio laoreet aliquet.
  </p>

  <mat-form-field floatLabel="always">
    <mat-label>Parcel Address</mat-label>
    <input
      #address="ngModel"
      [(ngModel)]="record.address.fromParcels"
      [placeholder]="record.address.fromFeatures"
      matInput
      name="address"
    />
    <mat-icon
      *ngIf="record.address.conflict"
      [inline]="true"
      color="accent"
      matSuffix
      >warning</mat-icon
    >
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Parcel Owner</mat-label>
    <input
      #owner="ngModel"
      [(ngModel)]="record.owner.fromParcels"
      [placeholder]="record.owner.fromFeatures"
      matInput
      name="owner"
    />
    <mat-icon
      *ngIf="record.address.conflict"
      [inline]="true"
      color="accent"
      matSuffix
      >warning</mat-icon
    >
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Land Usage</mat-label>
    <mat-select
      #name="ngModel"
      [(ngModel)]="record.usage.fromParcels"
      [placeholder]="registry.decode('parcel', 'usage', record.usage.fromFeatures)"
      name="usage"
    >
      <mat-option *ngFor="let item of record.usage.list" [value]="item[0]">
        {{ item[1].decoding }}
      </mat-option>
    </mat-select>
    <mat-icon
      *ngIf="record.address.conflict"
      [inline]="true"
      color="accent"
      matSuffix
      >warning</mat-icon
    >
  </mat-form-field>
</form>

<article class="actions">
  <button (click)="cancel()" mat-flat-button>CANCEL</button>

  <button
    (click)="save(record)"
    [disabled]="propertiesForm.invalid"
    color="primary"
    mat-flat-button
  >
    SAVE
  </button>
</article>
