<header class="header">
  <img class="icon" mat-card-avatar src="assets/properties.svg" />
  <p class="title">Lorem ipsum dolor emit</p>
  <p class="subtitle">{{ selectedIDs.join(', ') }}</p>
</header>

<mat-divider></mat-divider>

<form
  #propertiesForm="ngForm"
  autocomplete="off"
  class="form"
  novalidate
  spellcheck="false"
>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel metus eu
    nunc lacinia feugiat. Morbi molestie mi in odio laoreet aliquet.
  </p>

  <ng-container *ngFor="let prop of record | keyvalue">
    <!-- 
      👇 this control for props with a list 
        NOTE: use only appears if usage === current use
    -->
    <mat-form-field
      *ngIf="prop.value.list && (prop.key !== 'use' || record.usage.fromFeatures === '190' || record.usage.fromParcels === '190')"
      floatLabel="always"
    >
      <mat-label>{{ prop.value.label }}</mat-label>
      <mat-select
        [(ngModel)]="prop.value.fromParcels"
        [attr.ngControl]="prop.key"
        [name]="prop.key"
        [placeholder]="registry.decode('parcel', prop.key, prop.value.fromFeatures)"
      >
        <mat-option *ngFor="let option of prop.value.list" [value]="option[0]">
          {{ option[1].decoding }}
        </mat-option>
      </mat-select>
      <mat-icon
        *ngIf="prop.value.conflict"
        [inline]="true"
        color="accent"
        matSuffix
        >warning</mat-icon
      >
      <button (click)="clear($event, prop.value)" mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- 👇 this control for type-in props -->
    <mat-form-field *ngIf="!prop.value.list" floatLabel="always">
      <mat-label>{{ prop.value.label }}</mat-label>
      <input
        [(ngModel)]="prop.value.fromParcels"
        [attr.ngControl]="prop.key"
        [name]="prop.key"
        [placeholder]="prop.value.fromFeatures"
        matInput
      />
      <mat-icon
        *ngIf="prop.value.conflict"
        [inline]="true"
        color="accent"
        matSuffix
        >warning</mat-icon
      >
      <button (click)="clear($event, prop.value)" mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </ng-container>
</form>

<article class="actions">
  <button (click)="done()" mat-flat-button>DONE</button>

  <button
    (click)="save(record)"
    [disabled]="propertiesForm.invalid"
    color="primary"
    mat-flat-button
  >
    SAVE
  </button>
</article>
