<main class="page">
  <mat-toolbar class="toolbar">
    <button
      *ngIf="hasLeftSidebar"
      (click)="leftSidebar.toggle()"
      mat-icon-button
    >
      <fa-icon [icon]="['fas', 'bars']" size="2x"></fa-icon>
    </button>

    <h1 class="title">
      <ng-container *ngIf="title"> {{ title }} </ng-container>
    </h1>

    <mat-button-toggle
      #satelliteViewToggle
      (change)="onSatelliteViewToggle(satelliteViewToggle.checked)"
      [checked]="satelliteView$ | async"
    >
      <fa-icon [icon]="['fad', 'globe-americas']" size="lg"></fa-icon>
      <ng-container *ngIf="canPickSatelliteYear()">
        &nbsp;
        <select
          (change)="onSatelliteYear($event.target.value)"
          (click)="eatMe($event)"
          [disabled]="!(satelliteView$ | async)"
        >
          <ng-container *ngFor="let year of satelliteYears">
            <option
              [attr.selected]="year === (satelliteYear$ | async) ? 'true' : null"
              [value]="year"
            >
              {{ year || 'Latest' }}
            </option>
          </ng-container>
        </select>
      </ng-container>
    </mat-button-toggle>

    <mat-button-toggle
      #gpsToggle
      (change)="onGPSToggle(gpsToggle.checked)"
      [checked]="gps$ | async"
    >
      <fa-icon [icon]="['fad', 'map-marker-alt']" size="lg"></fa-icon>
    </mat-button-toggle>

    <button
      *ngIf="hasRightSidebar"
      (click)="rightSidebar.toggle()"
      mat-icon-button
    >
      <fa-icon [icon]="['fas', 'cog']" size="2x"></fa-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container class="container">
    <mat-drawer #leftSidebar class="sidebar" mode="over" position="start">
      <router-outlet name="leftSidebar"></router-outlet>
    </mat-drawer>

    <mat-drawer #rightSidebar class="sidebar" mode="over" position="end">
      <router-outlet name="rightSidebar"></router-outlet>
    </mat-drawer>

    <mat-drawer-content class="content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</main>
