<mat-card [class.rolledup]="rolledup" class="card">
  <mat-card-header>
    <img
      (click)="rolledup = !rolledup"
      mat-card-avatar
      src="assets/favicon.svg"
    />

    <mat-card-title>Identify Your Map</mat-card-title>
    <mat-card-subtitle>Name will appear on printed version</mat-card-subtitle>
    <button
      *ngIf="!rolledup"
      (click)="rolledup = !rolledup"
      class="closer"
      mat-icon-button
    >
      <fa-icon [icon]="['fas', 'times']" size="lg"></fa-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <form #setupForm="ngForm" class="form" novalidate spellcheck="false">
      <mat-form-field>
        <mat-label>Give your map a name</mat-label>
        <input
          #name="ngModel"
          [(ngModel)]="map.name"
          autocomplete="off"
          matInput
          name="name"
          placeholder="eg: My Old Town"
          required
        />
        <mat-error *ngIf="name.errors">A map name is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Assign an unique ID to your map</mat-label>
        <input
          #id="ngModel"
          [(ngModel)]="map.id"
          [disabled]="!map.isDflt"
          autocomplete="off"
          matInput
          name="id"
          pattern="[a-z0-9]+"
          placeholder="eg: myoldtown"
          required
        />
        <mat-error *ngIf="id.errors"
          >Use only lowercase letters and numbers</mat-error
        >
        <mat-hint *ngIf="!id.errors"
          >Viewer app URL:
          <em>https://{{ map.id }}.munimap.online</em></mat-hint
        >
      </mat-form-field>

      <mat-form-field *ngIf="map.type === 'property'">
        <mat-label>Property's parcels</mat-label>
        <textarea
          #parcelIDs="ngModel"
          [(ngModel)]="munged.parcelIDs"
          autocomplete="off"
          cdkTextareaAutosize
          matInput
          name="parcelIDs"
          required
        ></textarea>
        <mat-error *ngIf="parcelIDs.errors"
          >At least one parcel is required</mat-error
        >
        <mat-hint *ngIf="!parcelIDs.errors"
          >Give the ids of the parcels in your property, each on a new
          line.</mat-hint
        >
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions class="actions">
    <a *ngIf="canDelete()" (click)="delete(map)" mat-flat-button>
      Delete ths map &hellip;
    </a>

    <div class="filler"></div>

    <button
      (click)="update(map)"
      [disabled]="setupForm.invalid || !setupForm.dirty"
      color="primary"
      mat-flat-button
    >
      SAVE
    </button>
  </mat-card-actions>
</mat-card>
