:host {
  display: block;
  height: 100%;
  padding: 0.5rem;
  width: 25rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
}

.form {
  display: grid;
  gap: 0.5rem;
  grid-template-rows: auto auto;
  padding: 0.5rem 1rem;
}

.header {
  align-items: center;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-areas: 'icon title' 'icon subtitle';
  grid-template-columns: auto 1fr;
  padding: 1rem;
  position: sticky;
  top: 0;

  .icon {
    align-items: center;
    background-color: var(--mat-gray-800);
    border-radius: 50%;
    display: flex;
    grid-area: icon;
    height: 3.5rem;
    justify-content: center;
    width: 3.5rem;
  }

  .title {
    align-self: end;
    font-size: larger;
    font-weight: bold;
    grid-area: title;
  }

  .subtitle {
    align-self: start;
    grid-area: subtitle;
  }
}

.instructions {
  margin-bottom: 1rem;
}
